<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle</title>
</head>
<body>
    <h1> Detalle de domicilio</h1>
    <div>Id : {{domicilio.id}}</div>
    <div> Calle : {{domicilio.calle}}</div>
    <div> No calle : {{domicilio.no_calle}}</div>
    <div> Pais: {{domicilio.pais}}</div>

    <a href="{% url 'index' %}"> Regresar al inicio</a>

</body>
</html>